:root {
    /* to bottom */
    --color_modulo1: linear-gradient(to bottom, rgba(45, 111, 221, 0.82) 0%, rgba(61, 196, 228, 0.82) 100%);
    --color_modulo2: linear-gradient(to bottom, rgba(79, 152, 62, 0.82) 0%, rgba(187, 214, 59, 0.82) 100%);
    --color_modulo3: linear-gradient(to bottom, rgba(79, 54, 155, 0.82) 0%, rgba(183, 102, 204, 0.82) 100%);
    --color_modulo4: linear-gradient(to bottom, rgba(64, 172, 159, 0.82) 0%, rgba(100, 196, 182, 0.82) 100%);
    /* to bottom opacity */
    --color_opacity_modulo1: linear-gradient(to bottom, rgba(45, 110, 221, 0.671) 0%, rgba(61, 196, 228, 0.8) 100%);
    --color_opacity_modulo2: linear-gradient(to bottom, rgba(79, 152, 62, 0.702) 0%, rgba(187, 214, 59, 0.8) 100%);
    --color_opacity_modulo3: linear-gradient(to bottom, rgba(79, 54, 155, 0.671) 0%, rgba(184, 102, 204, 0.651) 100%);
    --color_opacity_modulo4: linear-gradient(to bottom, rgba(64, 172, 159, 0.82) 0%, rgba(100, 196, 182, 0.82) 100%);
    /* to right */
    --color_right_modulo1: linear-gradient(to right, #2d6fdd 0%, #3dc4e4 100%);
    --color_right_modulo2: linear-gradient(to right, #4f983e 0%, #bbd63b 100%);
    --color_right_modulo3: linear-gradient(to right, #4f369b 0%, #b766cc 100%);
    --color_right_modulo4: linear-gradient(to right, #40ac9f 0%, #64c4b6 100%);
    /* solido */
    --color_solido_modulo1: #eaf2fc;
    --color_solido_modulo2: #f1f6eb;
    --color_solido_modulo3: #f1ecf7;
    --color_solido_modulo4: #edf8f6;
    --color_solido_modulo5: #fdece0;

    --color_opacity_modulo1_thead: rgba(229, 238, 255, 0.671);
    --color_opacity_modulo2_thead: rgba(248, 230, 210, 0.671);

    --color_neutral: linear-gradient(to bottom, #a1c3ca 0%, #99bcc4 100%);
    --color_cuadrito1: linear-gradient(to bottom, #bbd63bcc 0%, #4f983eb3 100%);
    --color_cuadrito2: linear-gradient(to bottom, #f89f3f 0%, #f96332 100%);
}

html,
body {
    background-color: #ebecf1;
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

.videoFondo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: .3s opacity;
}

header,
.header>div,
.header>div>h2,
.jumbotron,
.jumbotron>div,
.jumbotron>div>h2 {
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
    height: 100%;
}

.logo_ext {
    height: 550px;
    background-image: url(../img/logo.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -7%;
}

.logo {
    height: 80px;
    background-image: url(../img/logo_ch.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 6px;
}

.logo:after {
    margin-bottom: -5px;
}

.logocard_sesion0 {
    height: 50px;
    background-image: url(../img/logocard_sesion0.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right;
    margin: 10px;
}

.modal_header {
    margin-top: 20% !important;
}

.modal_contenido {
    text-align: center !important;
    margin-top: 10px;
    margin-bottom: 50px;
}

.modal_botones {
    text-align: center !important;
}

.pleca_resul {
    /* isolation: isolate; */
    height: 150px;
    background-image: url(../img/logocard_sesion0.png);
    transform: rotate(-12deg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-blend-mode:color-dodge; */
    mix-blend-mode: luminosity;
}

.oa_img {
    /* width: 50px; */
    height: 50px;
    background-image: url(../img/oa_img.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 13px;
    align-self: center;
}

.elearning_01 {
    /* width: 50px; */
    height: 50px;
    background-image: url(../img/elearning_01.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 13px;
    align-self: center;
}

.logocard_sesion1 {
    height: 134px;
    background-image: url(../img/logocard_sesion1.png);
    background-size: 108px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

.icono_estado {
    margin: 5px;
    /* height: 40px; */
    align-self: center;
}

.insignia {
    margin: 5px;
    opacity: .3;
    align-self: center;
}

.insignias_texto {
    font-size: 10px;
    text-align: center;
    font-weight: 800;
    line-height: 15px;
}

.puntuacion {
    color: #fe8440;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.user {
    /* height: 60px; */
    width: auto;
    padding: 20px;
    align-self: center;
}

.header_sesiones {
    height: 250px;
    background-image: url(../img/header_sesiones_img.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top right;
    margin: -50px 0px 0px 0px;
    opacity: .2;
}

.columna_titulo {
    width: 0px;
    margin-right: 240px;
}

.m0_color {
    height: 100px;
    display: flex;
    flex-wrap: initial;
    background: #ffffff !important;
    /* margin-left: -15px; */
    width: 0px !important;
    margin-right: 240px !important;
}

.m1_color {
    height: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: initial;
    /* background: var(--color_solido_modulo1); */
    background: linear-gradient(to bottom, rgba(45, 110, 221, 0.671) 0%, rgba(61, 196, 228, 0.8) 100%);
    margin: 0;
}

.m2_color {
    height: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: initial;
    /* background: var(--color_solido_modulo2); */
    background: linear-gradient(to bottom, rgba(79, 152, 62, 0.702) 0%, rgba(187, 214, 59, 0.8) 100%);
    margin: 0;
}

.m3_color {
    height: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: initial;
    /* background: var(--color_solido_modulo3); */
    background: linear-gradient(to bottom, rgba(79, 54, 155, 0.671) 0%, rgba(184, 102, 204, 0.651) 100%);
    margin: 0;
}

.m4_color {
    height: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: initial;
    /* background: var(--color_solido_modulo4); */
    background: linear-gradient(to bottom, rgba(64, 172, 159, 0.82) 0%, rgba(100, 196, 182, 0.82) 100%);
    margin: 0;
}

#cargando {
    position: fixed;
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, .3);
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99000 !important;
}

/* breadcrumb */

.breadcrumb {
    position: absolute;
    top: 250px;
    margin-left: -15px;
}

.breadcrumb>.breadcrumb-item::before {
    content: "";
    color: #fff;
}

/* breadcrumb */

.ui.active.dimmer {
    opacity: .5;
}

.sidebar:after {
    /* background: linear-gradient(to bottom, #4B5970 0%, #212B34 100%); */
    background: linear-gradient(to bottom, #fa771f 0%, #f46e0a 100%);
}

.sidebar .nav li.active>a {
    /* background-color: #2b3946; */
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.sidebar .nav li.active>a i {
    color: #fff;
}

.sidebar .nav li>a:hover {
    color: #fff;
}

.sidebar .nav li.active>a {
    cursor: default;
}

.navbar {
    /* background: #38495A; */
    /* background: linear-gradient(to right, #2d425d 0%, #24344d 100%); */
    background-image: url(../img/header_02.png);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: 260px 0px;
    /* background-color: #24344d; */
    box-shadow: none;
    z-index: 100;
    opacity: 0;
    transition: .38s ease-in;
    -webkit-transition: .38s ease-in;
}

.navbarusuario {
    background: transparent;
    box-shadow: none;
    z-index: 100;
    opacity: 1;
}

.navbar .navbar-wrapper {
    margin-top: -20px;
}

.panel-header {
    /* background: linear-gradient(to right, #2d425d 0%, #24344d 100%); */
    background-image: url(../img/header_04.png);
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: 0px 23px;
    /* background: #24344d; */
    box-shadow: none;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 45px;
    margin-top: 90px;
    /* transition: .5s ease;
    -webkit-transition: .5s ease; */
}

.panel-passparticipante {
    /* background: #24344d; */
    background: linear-gradient(to top, #ff9937 0%, #f56f0d 100%);
    padding: 50px;
    color: #ffff;
    text-align: center;
}

.panel_sesion {
    overflow-x: auto;
    overflow-y: hidden;
}

.borde_verde {
    /* background: linear-gradient(to top, #ff9937 0%, #f56f0d 100%); */
    padding: 60px;
    border-color: #57d977;
    /* background-color: #f3f3f3; */
}

.container_participante {
    max-width: 670px;
}

.instrucciones {
    text-align: left;
}


.input_sesion {
    /* background-color: hsl(0, 1.3%, 54.3%) !important; */
}

.input_sesion>input,
.input_sesion>input:focus {
    color: #f96332;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    border: dotted;
}

.input_sesion>input:focus {
    background: #fffced;
}

.input_sesion>input::selection,
.input_sesion>input::-moz-selection {
    background: #ffe367;
    color: #f96332;
}

.input_sesion>input::placeholder {
    color: #f96332 !important;
    opacity: .5 !important;
}

.clave_sesion {
    margin-left: 10px;
    padding: 0 20px 0 20px;
    border: solid 1px;
    border-radius: 20px;
    color: #f96332;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

#entrar_sesion2 {
    border-left: dotted;
}

#entrar_sesion2 {
    border-radius: 0;
}

.objeto_nombre {
    position: relative;
    text-align: center;
}

.liga {
    cursor: pointer;
}

.foto_participante {
    width: 30%;
}

.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    /* border-radius: 50%; */
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.wizard-card .picture:hover {
    border-color: #2ca8ff;
}

.wizard-card.ct-wizard-azzure .picture:hover {
    border-color: #2CA8FF;
}

.wizard-card.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.wizard-card.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.wizard-card.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.wizard-card.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-card .picture-src {
    width: 100%;
}

.cielo {
    background-color: #c5e6f7;
}

.rosa {
    background-color: #fedec5;
}

.limon {
    background-color: #ecf4c5;
}

.isolate {
    /*aisla la mezcla de colores con fondo global de la página va en enl contenedor */
    isolation: isolate;
}

.panel_header_participante,
.panel_header_instructor {
    /* background: #24344d; */
    background: linear-gradient(to right, #fe704a 0%, #ff9937 100%), url(../img/header_sesiones_img.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    box-shadow: none;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 45px;
    margin-top: 100px;
    color: #fff;
}

.header_participante_subtitulo,
.header_instructor_subtitulo {
    margin-top: 20px;
}

.header_participante,
.header_instructor {
    padding-right: 0px !important;
}

/*inicia  sesiones */

.sesion {
    padding: 10px;
}

/* Módulos */

.columna {
    text-align: center;
    align-self: center;
}

.columna_usuarios {
    height: 120px;
    width: 250px;
    padding: 20px;
    text-align: center;
    margin-top: 78px;
}

.col_container {
    width: 200px !important;
    padding-right: 20px;
    padding-top: 30px;
}

.columna_modulo {
    height: 100px;
    padding: 20px;
    color: #FFF;
}

.columna_modulo_recurso {
    /* height: 120px; */
    display: flex;
    color: #FFF;
}

.columna_modulo_recurso>div {
    min-width: 160px;
    max-width: 160px;
    padding: 20px;
}

.progresbar_color {
    background-color: #fe704a;
}

.panel_modulo {
    color: #fff;
}

.modulo_resul {
    color: rgba(0, 0, 0, 1);
    text-align: right;
}

.modulosmargen {
    box-shadow: 10px;
    height: 480px;
    width: 300px;
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
    color: #fff;
    font-size: 22px;
}

.celda_result {}

.modulo_color1 {
    /* background: var(--color_modulo1); */
    background: linear-gradient(to bottom, rgba(45, 111, 221, 0.82) 0%, rgba(61, 196, 228, 0.82) 100%);
    background-repeat: no-repeat;
    background-position: top center;
}

.modulo_color2 {
    /* background: var(--color_modulo2); */
    background: linear-gradient(to bottom, rgba(79, 152, 62, 0.82) 0%, rgba(187, 214, 59, 0.82) 100%);
    background-repeat: no-repeat;
    background-position: top center;
}

.modulo_color3 {
    /* background: var(--color_modulo3); */
    background: linear-gradient(to bottom, rgba(79, 54, 155, 0.82) 0%, rgba(183, 102, 204, 0.82) 100%);
    background-repeat: no-repeat;
    background-position: top center;
}

.modulo_color4 {
    /* background: var(--color_modulo4); */
    background: linear-gradient(to bottom, rgba(64, 172, 159, 0.82) 0%, rgba(100, 196, 182, 0.82) 100%);
    background-repeat: no-repeat;
    background-position: top center;
}

.caja_modulo {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    margin: 15px;
}

.caja_modulo_ch {
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
}

.marca {
    border: solid 1px;
    border-color: violet;
    max-width: 400px !important;
}

.card_modulo {
    height: 200px;
    margin-left: 40px;
    margin-top: -10px;
}

.modulo_titulo {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
}

.sesion_header {
    display: flex;
    flex-wrap: initial;
    background: #F2F3F8;
    /* padding: 10px 30px 50px 30px; */
    margin-left: -15px;
    margin-right: -15px;
    width: min-content;
}

.sesion_titulo {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin-top: 10px;
}

.registro-margen {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.zona_titulo {
    font-size: 12px;
    font-weight: 300;
}

.bold_puntos1 {
    width: 240px;
}

.bold_puntos {
    font-size: 14px;
    font-weight: 600;
}

.bold_nombre {
    font-size: 11px;
    font-weight: 600;
    display: flex;
    width: 200px;
}

.btn_sec_ing {
    background-color: #fff !important;
    /*blanco */
    color: #2d6fdd !important;
    font-size: 12px;
}

.boton_atras {
    float: left;
    margin-top: 10px !important;
    width: 20px;
    cursor: pointer;
    font-weight: 100;
    opacity: .8;
}

.boton_atras_instructor,
.boton_atras_participante {
    float: left;
    margin-left: 90px !important;
    margin-right: 80px;
    width: 0px;
    cursor: pointer;
    font-weight: 100;
}

.fondo_recursos {
    background-color: white;
    color: #2c2c2c;
}

.fondo_recurso {
    width: 100%;
    margin-left: 0px;
    border-bottom-color: rgba(249, 99, 50, 0.239);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/*termina  modulos */

/* modal Ver */

.modal-header {
    display: inline;
    display: -webkit-inline-box;

}

#botonCerrarModalVerContenidoInst {
    margin-top: -45px;
}

/* modal Ver */

.perfil {
    display: flex;
    margin-right: 20px;
    line-height: 22px;
    color: #fff;
}

.perfil>div>i {
    font-size: 20px;
}

.perfil2 {
    font-size: 80px;
    background-position: center;
}

.nombre_perfil {
    margin-left: 20px;
    font-size: 14px;
    color: rgba(217, 226, 237, 0.91);
}

.dropdown-menu {
    margin-top: 10px;
}

.dropdown-toggle {
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-toggle:after {
    margin-top: 8px;
    margin-left: 10px;
}

/* login */

.page-header-image {
    position: absolute;
    /* background-image: url(../img/login.jpg);
    background-size: cover;
    background-position: center center; */
    width: 100%;
    height: 100%;
}

.main-panel,
.navbar-toggler,
.sidebar,
.panel-header,
.perfil {
    display: none;
    /* width: calc(100% - 260px); */
}

.main-panel_100 {
    height: 100%;
    width: 100%;
}

#divLogin {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7%;
    background-color: #0000003d;
}

#divLogin>div {
    margin-top: 40px;
}

.mensaje_error_login {
    color: #fff;
    text-align: center;
}

.mensaje_error_sesion {
    color: #fe704a;
    font-weight: 800;
    text-align: center;
}

.mensaje_participante_login {
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.input-group-prepend .input-group-text i {
    opacity: .5;
    padding-right: 30px;
    color: #fff;
}

.form-control2 {
    position: absolute;
    right: 30px;
    margin-top: -90px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-control3 {
    position: absolute;
    right: 30px;
    margin-top: -140px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
}

.input-group.no-border .form-control {
    background-color: hsla(0, 0%, 87%, .6);
    color: #000;
}

.input-group.no-border .form-control:focus {
    background-color: hsla(0, 0%, 87%, 0.8);
}

#botonEntrar {
    width: 200px;
    /* background-color: #1654cb !important; */
}

.registrar {
    color: #fff;
}

#botonRegistrar {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#botonRegistrar:hover,
#botonRegistrar:active,
#botonRegistrar:focus {}

.deshabilitado {
    pointer-events: none !important;
}

.deshabilitado>a {
    background-color: rgba(201, 94, 24, 0.239) !important;
    color: rgba(255, 255, 255, 0.42) !important;
    cursor: default !important;
}

/* contenido */

#contenido {
    padding: 30px;
    /* margin-top: -60px; */
}

.inicio_int,
.recursos_int,
.usuarios_int,
.lecciones_int,
.admin_int,
.ayuda_int,
.sesiones_int,
.sesion_participante1_int,
.sesion_participante2_int,
.sesion_instructor_int {
    width: 100%;
    /* padding-bottom: 40px; */
}

.sesion_instructor_int {
    margin-top: -40px;
}

.title {
    margin-bottom: 10px;
}

.subtituloSeccion {
    max-width: 600px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    font-size: 14px;
}

.subseccion {
    max-width: 600px;
    /* color: hsla(0, 0%, 100%, .5); */
    margin: 0 auto;
    font-size: 14px;
}

/* player */

.barra_player {
    position: fixed;
    display: none;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 36px;
    line-height: 1;
    background-color: #7ab38d;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    z-index: 1020;
}

.barra_player_texto {
    /*position: relative;*/
    left: 30px;
    margin-left: 300px;
    font-size: 14px;
    color: #fff;
    line-height: 2.5em;
}

#botonCerrarContenido {
    position: static;
    font-size: 12px;
    height: 20px;
    margin: -25px 30px;
    float: right;
    line-height: 0.8em;
    margin-top: 8px;
}

.navegacion_player {
    position: absolute;
    background-color: #27282C;
    padding-top: 30px;
    margin-top: 64px;
    width: 240px;
    height: 92.9%;
}

/* seccion recursos */

.titulo_seccion {
    font-size: 22px;
}

.subtitulo_seccion {
    font-size: 18px;
}

#buscadorClean {
    width: 30px;
    padding-top: 8px;
    background-color: transparent;
    font-weight: bolder;
    margin-right: 10px;
    height: 30px;
    margin-top: -85px;
    border: none;
}

#buscadorClean:hover {
    color: #fa7a50;
}

.lista_categorias {
    font-size: 12px;
    padding-bottom: 20px;
}

.titulo_categoria {
    margin: 50px 0px 30px 20px;
}

.grupo_categoria {
    border-top-style: solid;
    border-top-color: #bfc5cc;
    border-width: 1px;
    padding-top: 20px;
    padding: 20px 0 40px 0;
}

.categoria {
    display: inline-block;
    margin: 5px;
    padding: 5px 0px 5px 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: #bfc5cc;
    border-width: 1px;
}

.btn-categoria {
    margin-left: 15px !important;
}

.btn-menu_neutral {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #005684;
}

.btn-menu_neutral:hover,
.btn-menu_neutral:active,
.btn-menu_neutral:focus {
    background-color: transparent !important;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #57addb !important;
}

.btn-menu_blanco {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #fff;
}

.btn-menu_blanco:hover,
.btn-menu_blanco:active,
.btn-menu_blanco:focus {
    background-color: transparent !important;
    box-shadow: none;
    outline: none;
    border: 0;
    color: rgb(235, 235, 235) !important;
}

.bloqbotonadd,
.ebloqbotonadd {
    float: right;
    margin-right: 60px;
}

/* cards */

.card .card-body {
    padding-top: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.category {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.card-title {
    margin-top: 20px !important;
    font-size: 20px;
}

.card-desc {
    display: none;
}

.card_datos {
    background-color: rgba(255, 255, 255, 0.91);
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 100px;
    padding: 30px 15px 30px 15px;
}

.card-botones {
    float: right;
}

.card_modulo_titulo {
    font-size: 12px;
}

.card_modulo_subtitulo {
    font-size: 12px;
}

.portada_recurso {
    display: block;
    max-height: 130px;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#recursoNombreSi,
#erecursoNombreSi {
    display: none;
}

/* cards */

.ui.header {
    font-family: 'Montserrat';
}

.texto_simple {
    font-size: .8571em;
}

/* botones */

.botonMasInfo,
.botonEditar,
.botonVerObjeto,
.botonVerPregunta,
.botonEliminar,
.botonAgregarCh,
.botonAsignar,
.botonEntrarModulo,
.botonInsignia {
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
    /* vertical-align: bottom; */
}

input::-ms-clear {
    display: none;
}

.botonInputMenos,
.botonInputMas {
    float: right;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 10px;
    font-weight: bolder;
    background-color: transparent !important;
    height: 16px;
    padding-top: 1px;
    z-index: 888;
    color: #f89f3f !important;
}

.botonInputMas {
    margin-top: -35px;
}

.botonInputMenos {
    margin-top: -20px;
}

.botonInputMas:hover,
.botonInputMenos:hover {
    color: #ff8300;
    background-color: #fff !important;
    border: 1px solid #Fa7A50 !important;
}




.botonAgregar,
.botonAgregarCh {
    background-color: #7acc88 !important;
}

.botonAgregar:hover,
.botonAgregarCh:hover {
    background-color: #71c27f !important;
}

.botonAgregar:active,
.botonAgregarCh:active {
    background-color: #71c27f !important;
}

.botonEliminar {
    background-color: darksalmon;
    /* pointer-events: none !important; */
}

.botonEliminar:hover,
.botonEliminar:active {
    background-color: #da8366 !important;
}

.botonEditar {
    background-color: #f89f3f !important;
    color: #fff;
}

.botonEditar:hover {
    background-color: #ff8300 !important;
    color: #fff;
}

.botonVerObjeto,
.botonVerPregunta {
    background-color: #7acc88 !important;
    color: #fff;
    width: 70px;
}

.botonVerObjeto:hover,
.botonVerPregunta:hover {
    background-color: #71c27f !important;
    color: #fff;
}

.botonMasInfo {
    background-color: cadetblue;
}

.botonMasInfo:hover,
.botonMasInfo:active {
    background-color: cadetblue;
}

.botonInsignia {
    background-color: rgb(159, 221, 153);
}

.botonInsignia:hover,
.botonInsignia:active {
    background-color: rgb(108, 201, 120);
}

.botonAsignar {
    margin-right: 15px;
    background-color: yellowgreen;
    /* pointer-events: none !important; */
}

/* .botonAsignar:hover,
.botonAsignar:active {
    background-color: rgb(140, 184, 53) !important;
} */

.boton_rojo {
    background-color: #f96332 !important;
}

.boton_rojo:hover,
.boton_rojo:active {
    background-color: #f17f59 !important;
}

.boton_rojo_alt {
    background-color: #f17f59 !important;
    color: #fff !important;
}

.boton_rojo_alt>.header {
    color: #fff !important;
}

.boton_rojo_alt:hover,
.boton_rojo_alt:active {
    background-color: #f96332 !important;
}

.boton_naranja {
    background-color: #ff8300 !important;
}

.boton_morado {
    background-color: #824dbb !important;
}

.boton_morado:hover,
.boton_morado:active {
    background-color: #663d93 !important;
}

.boton_morado_alt {
    background-color: #f7ab5b !important;
    color: #fff !important;
}

.boton_morado_alt>.header {
    color: #fff !important;
}

.boton_morado_alt:hover,
.boton_morado_alt:active {
    background-color: #f89f3f !important;
}

.boton_naranja:hover,
.boton_naranja:active {
    background-color: #f89f3f !important;
}

.boton_naranja_alt {
    background-color: #f7ab5b !important;
    color: #fff !important;
}

.boton_naranja_alt>.header {
    color: #fff !important;
}

.boton_naranja_alt:hover,
.boton_naranja_alt:active {
    background-color: #f89f3f !important;
}



.boton_gris1_alt {
    background-color: #74b8b5 !important;
    color: #fff !important;
}

.boton_gris1_alt>.header {
    color: #fff !important;
}

.boton_gris1_alt:hover,
.boton_gris1_alt:active {
    background-color: #56b4b8 !important;
}

.boton_gris2_alt {
    background-color: #92b98d !important;
    color: #fff !important;
}

.boton_gris2_alt>.header {
    color: #fff !important;
}

.boton_gris2_alt:hover,
.boton_gris2_alt:active {
    background-color: #7baf74 !important;
}


.boton_verde {
    background-color: #57d977 !important;
}

.boton_verde:hover {
    background-color: #80e299 !important;
}

.boton_verde:active {
    background-color: #71c27f !important;
}

.boton_azul,
.boton_azul:focus {
    /* background-color: #50b6ff !important; */
    background-color: #e2eef7 !important;
    color: #50b6ff;
}

.boton_azul:hover,
.boton_azul:active {
    background-color: #689fc7 !important;
    color: #fff;
}

.boton_verde_alt {
    background-color: #73c981 !important;
    color: #fff !important;
}

.boton_verde_alt>.header {
    color: #fff !important;
}

.boton_verde_alt:hover,
.boton_verde_alt:active {
    background-color: #50be62 !important;
}

.boton_morado {
    background-color: #7f73c9 !important;
    color: #fff !important;
}

.boton_morado>.header {
    color: #fff !important;
}

.boton_morado:hover,
.boton_morado:active {
    background-color: #695cc0 !important;
}

.boton_blanco {
    background-color: #fff !important;
    color: #2CA8FF;
    font-weight: 600;
}

.boton_blanco {
    background-color: #fff !important;
    color: #2CA8FF;
}

.boton_blanco:hover,
.boton_blanco:focus,
.boton_blanco:active {
    background-color: rgb(238, 247, 253) !important;
    color: #2CA8FF !important;
}

.botonEntrarModulo {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;
    color: #5ea03d;
    font-weight: 600;
}

.botonEntrarModulo:hover {
    background-color: #fff !important;
    color: #448126 !important;
}

.botonEntrarModulo:active {
    background-color: #dbeddd !important;
    color: #466e32 !important;
}

.botonEntrarModulo:focus {
    background-color: #dbeddd !important;
    color: #448126 !important;
}

.botonIniciarCurso {
    margin-left: 10px;
}

.icon_estatus,
.icon_estatus_scorm {
    font-size: 20px;
    color: #38495a9e;
}

.mdl-card--border {
    margin-top: 20px;
}

.botonEliminarUsuario {
    margin-left: 10px !important;
}

.botonEliminarUsuario>i {
    margin-top: 10px !important;
}

.botonEditarUsuario {
    background-color: #f89f3f !important;
    color: #fff;
}

.botonEditarUsuario:hover {
    background-color: #ff8300 !important;
    color: #fff;
}

.botonEditarUsuario>i {
    margin-top: 10px !important;
}

.dimmer {
    z-index: 99000 !important;
}

.modal {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui.basic.modal {
    margin: auto;
    max-width: 500px;
    height: 500px;
}

.ui.icon.header>i {
    font-size: 30px;
}

.form-group .form-control,
.input-group .form-control {
    padding: 2px 7px !important;
}

/* seccion Usuarios */

.modalAgregaUsuario,
.ancho {
    max-width: 960px !important;
}

.modalEditarUsuario {
    max-width: 960px !important;
}

.form_cal_time {
    padding: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
}

.form-control {
    height: 40px;
}

.form-control_calif_time {
    /* width: 120px; */
    /* text-align: center; */
    margin: auto;
}

.obligatorio {
    margin-left: 5px;
    color: #f96332;
    font-size: 18px;
    font-weight: 700;
}

.campo_obligatorio {
    margin-right: auto;
    color: #f96332;
    font-size: 10px;
    font-weight: 700;
}

/* seccion Lecciones */

#lecciones {
    /* float: left; */
    /* position: relative; */
    /* width: auto; */
    /* height: auto; */
    margin-bottom: 30px;
}

.modalAgregaModulo {
    max-width: 960px !important;
}

.modalAgregaRecurso {
    max-width: 960px !important;
}

.scrolloo {
    height: 400px;
    /*overflow: scroll;*/
    margin-top: 20px;
    background-color: #ACA8A5;
    overflow-x: scroll;
}

.cardactive {
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.1);
}

.cardactive label {
    color: #000;
}

.cardaa {
    width: 350px;
    margin: 20px;
}

.cardaa h4 {
    margin-top: -20px;
}

.btnCardLecciones {
    background-color: #24344D;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.btnCardLecciones div {
    margin-left: auto;
    margin-right: auto;
}

.recursos {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 4px 8px;
}

.modulo {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 4px 4px 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(10, 5, 5, 0.315);
}

.recurso {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 4px 4px 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(10, 5, 5, 0.315);
}

.listaFactores,
.listaGrupos,
.listaCompetencias {
    width: 220px;
}

.recursotitle {
    float: left;
    width: 100%;
}

.recursos .is-moving {
    background-color: violet;
    color: black
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_opcion {
    /* margin-top: 25px; */
    /* color: #ff8300; */
    font-size: 12px;
    /* font-weight: 700; */
}

.form-check-radio .form-check-sign:after,
.form-check-radio .form-check-sign:before {
    border: 1px #ff8300 solid;
}

.form-check-radio input[type=radio]:checked+.form-check-sign:after {
    color: #ff8300 !important;
    background-color: #ff8300 !important;
    border-color: #ff8300 !important;
    border: 4px #ff8300 solid;
    margin-left: -3px;
    margin-top: -3px;
}

/* .elegida {
    color: #71c27f !important;
} */

/* .modal {
    display: none;
    opacity: 1;
} */


.modal_pregunta_body {
    /* border: 1px #ff8300 solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 80%;
    font-size: 20px;
}

.ver_pregunta_body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 70%;
    max-width: 700px;
    font-size: 20px;
}

#sNombrePregunta {
    margin-top: 30px;
}

.paloma,
.tache {
    float: right;
    margin-top: -37px;
    margin-right: 20px;
    font-size: 30px;
    color: #fff;
    display: none;
}

.botonHabilitado {
    opacity: 1;
    pointer-events: all;
}

.botonDeshabilitado {
    opacity: .5;
    pointer-events: none;
}

.respuestaHabilitada {
    background-color: none;
    opacity: 1;
    pointer-events: all;
}

.respuestaDeshabilitada {
    background-color: #fe8440;
    color: #fff;
    pointer-events: none;
}

.pregunta_desc {
    font-size: 16px;
}

.pregunta_preg {
    font-weight: 600;
    line-height: 1.2;
}

.pregunta_resps {
    background-color: #efe0ef;
    padding: 15px;
    border-radius: 50px;
    line-height: 1.2;
}

.pregunta_respsSesion {
    padding: 15px;
    border-radius: 50px;
    line-height: 1.2;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: bold; */
    border: 3px #fe8440 dotted;
    cursor: pointer;
}

.pregunta_respsSesion:hover {
    background-color: #fe8440;
    color: #fff;
}

.pregunta_resp_correcta {
    background-color: #d5ec9b;

}

.titulo_retro {
    margin-bottom: 10px;
    font-size: 16px;
}

.pregunta_retro_bien,
.pregunta_retro_mal {
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}

.pregunta_retro_bien {
    border: 2px #4f983e dotted;
}

.pregunta_retro_mal {
    border: 2px #f96332 dotted;
}

#botonResponderPregunta {
    float: right;
    font-size: 14px !important;
}

.boton_navegarRecurso {
    position: absolute;
    opacity: 1;
    margin-top: 0;
    top: 0px;
    height: 50px;
    width: 60px;
}

/***************************/

.gu-mirror {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.campo_puntos {
    font-size: 14px;
    font-weight: 600;
    color: #f96332;
}

.puntos_nivel_error {
    /* width: 500px !important; */
    padding-left: 400px !important;
}

.seccionDetallesOff {
    display: none;
}

.seccionDetallesOn {
    display: none;
}

/* participantes */

.sesion_participante2_int {
    /* margin-top: -335px; */
    margin-left: 200%;
}

/* footer */

.footer {
    padding: 30px;
}

.ocultar {
    display: none;
}

.sps {
    margin-left: 15px !important;
}

.txError {
    color: red !important;
}

.activeInsignia,
.activeNivel {
    border: 2px solid #Fa7A50;
}

/* #nivelesPuntosMax {
    text-align: center;
} */

.nivelesPuntosMax {
    margin-left: 25%;
    text-align: center;
    font-weight: 700;
}

.nivelesPuntosDisp {
    margin-left: 15%;
    text-align: center;
    font-weight: 700;
}

/* slider */
#sliderNivelesDiv,
#_sliderNivelesDiv {
    margin-left: 50px;
}

#sliderNiveles,
#_sliderNiveles {
    /* width: 300px; */
    margin-top: 40px;
}

.noUi-base {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    height: 3px;
    border-radius: 5px;
    outline: 0;
}

.noUi-connects {
    background-color: #f89f3f !important;
}

.noUi-handle {
    -webkit-appearance: none;
    background-color: #f89f3f !important;
    width: 20px;
    height: 20px;
    left: 20px;
    top: -8px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 999;
}

.noUi-handle:hover {
    background-color: #ff8300 !important;
}

.noUi-handle:active {
    transform: scale(1.6);
}

.noUi-pips {
    margin-top: -10px;
}

.noUi-value {
    margin-top: 10px;
}

.slider_barra {
    position: absolute;
    background-color: #f89f3f !important;
    width: 0px;
    height: 3px;
    border-radius: 5px;
}

/* .slider_valor {
    font-size: 20px;
    margin-top: -25px;
} */

.noUi-handle:focus {
    outline: none !important;
}

.nivel_numero {
    font-size: 8px;
    color: #fff;
    font-weight: bold;
    margin-top: -17px;
    position: absolute;
    margin-left: 2.5px;
    text-align: center;
}

/* slider */


.pmouse:hover {
    cursor: pointer !important;
}

#listadoRecursos {
    padding: 0px 20px 40px 20px;
}

.ulrec {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ulrec li {
    display: inline;
    float: left;
}

.ulrec li a {
    border-radius: 25px;
    margin: 10px;
    background-color: #Fa7A50;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.rendondeada_participante {
    width: 85px;
    /* height: 85px; */
    border-radius: 50px;
    border: none;
    padding: 3px;
    margin-top: 10px;
}

.progress {
    background-color: #EBECF1;
    border-radius: 8px;
    width: 100%;
}

.progress-bar {
    background-color: #FE7B43;
    border-radius: 8px;
}

.rendondeada {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    border: none;
    margin: 6px;
}

.pNombre {
    width: 100%;
}

.tarjeta_participante {
    border: none;
    background-color: #fff;
    float: left;
    margin-left: 20px;
    display: block;
    padding: 0;
}



.drag_handle {
    /* content: '.......'; */
    width: 20px;
    height: 26px;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
    overflow: hidden;
    line-height: 6px;
    cursor: move;
    vertical-align: middle;
    font-size: 30px;
    letter-spacing: 2px;
    color: #628496;
    font-weight: 500;
}

.drag_handle::after {
    content: '.. .. .. ..';

}




.pParticipante {
    height: 100%;
    margin: 0px;
    /* background: var(--color_opacity_modulo1); */
    background: linear-gradient(to bottom, rgba(45, 110, 221, 0.671) 0%, rgba(61, 196, 228, 0.8) 100%);
}

.pLogo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pinfo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.txtpp {
    font-size: 11px;
}

.pPuntos {
    font-size: 25px;
    padding-right: 20px;
    padding-left: 5px;
}

.pDatos {
    color: #fff;
}

.tarjeta {
    border: none;
    background-color: #fff;
    padding: 10px;
    float: left;
    margin-left: 20px;
}

.tope {
    color: #fff;
    /* background: var(--color_opacity_modulo1); */
    background: linear-gradient(to bottom, rgba(45, 110, 221, 0.671) 0%, rgba(61, 196, 228, 0.8) 100%);
    text-transform: uppercase;
    padding: 7px;
    font-size: 13px;
    margin: -10px -10px 0px -10px;
}

table.pCompaneros {
    /* width: 100%; */
    margin-left: -10px;
    margin-right: -10px;
}

table.pCompaneros thead tr th {
    /* background: var(--color_opacity_modulo1_thead); */
    background: rgba(229, 238, 255, 0.671);
    font-size: 10px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 600;
    color: #34afc1;
}

table.pCompaneros tbody tr td {
    text-align: center;
}

table.pCompaneros tbody tr td:nth-child(1) {
    padding: 2px;
    width: 5%;
    font-size: 20px;
}

table.pCompaneros tbody tr td:nth-child(2) {
    width: 80%;
}

/* table.pCompaneros tbody tr td:nth-child(3) {
    width: 30%;
} */

table.pCompaneros tbody tr td:nth-child(3) {
    width: 15%;
    font-size: 16px;
    font-weight: 600;
}

.juntar {
    width: 100%;
    margin-left: -10px;
    display: flex;
    text-align: left;
}

.juntar img {
    margin-left: 20px;
}

.juntar label {
    margin-top: 20px;
    margin-right: 0;
    float: left;
    font-size: 10px;
    font-weight: 800;
}

.colega_numero {
    /* background: var(--color_cuadrito2); */
    background: linear-gradient(to bottom, #f89f3f 0%, #f96332 100%);
    color: #fff;
}


i.ui-1_trash-simple,
i.ui-1_pencil {
    color: #fff !important;
}

.ulrec li a:hover,
.ulrec li a:active {
    background-color: red;
}






@media screen and (max-width:992px) {
    .navbar {
        background-position: 0px 0px;
    }

    .barra_player {
        /* top: 88px; */
    }

    #divLogin {
        top: 45%;
    }
}

@media screen and (max-width: 768px) {
    .main-panel .content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header_sesiones {
        display: none;
    }

    .mt {
        margin-top: 18px;
    }
}

@media only screen and (max-width: 600px) {

    /* .form-control_calif_time {
        width: 112px;
    } */
    .perfil {
        margin-right: 20px;
    }

    .nombre_perfil {
        display: none !important;
    }

    .panel_header_participante,
    .panel_header_instructor {
        /* background: #24344d; */
        background: linear-gradient(to right, #fe704a 0%, #ff9937 100%);
        box-shadow: none;
        height: 200px;
        padding-top: 25px;
        padding-bottom: 45px;
        margin-top: 100px;
        color: #fff;
    }
}
