html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #222;
}

.logo {
    height: 300px;
    background-color: #20232a00;
    background-image: url(../img/logo_splash.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}

.logo_bimbo {
    height: 50px;
    background-image: url(../img/logo_int.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
}

.siluetas {
    height: 400px;
    background-image: url(../img/login_logos.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}

/* navbar */
.navbar {
    display: none;
    position: fixed;
    width: 100%;
    height: 120px;
    padding-top: 6px;
    margin-top: -50px;

    background-image: url(../img/navbar_esq.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: bottom right;

    background-color: #001489;
    z-index: 999;
    pointer-events: auto;
    color: #fff;
}

.navbar_titulo {
    text-transform: none !important;
    height: 50px;
    /* position: absolute; */
    margin-right: 70px;
    background-image: url(../img/logo_top.png);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: right;
}

.nombre_perfil {
    margin-top: -38px;
    margin-left: 70px;
}

.botonHome,
.navbar_boton_ayuda,
.botonAtras,
.botonSalir,
.navbar_boton_menu {
    position: absolute;
    cursor: pointer;
    pointer-events: all;
}

.botonHome {
    display: none;
    margin-top: 10px;
    left: 20px;
}

.botonHome i {
    font-size: 30px;
    line-height: .8;
}

.navbar_boton_ayuda {
    margin-top: -24px;
    right: 20px;
}

.botonAtras {
    display: none;
    /* display: flex; */
    align-items: center;
    margin-top: 25px;
    right: 40px;
}

.botonSalir {
    display: none;
    /* display: flex; */
    align-items: center;
    margin-top: -26px;
    right: 20px;
}

.botonAtras,
.botonSalir span {
    font-weight: bold;
}

.navbar_boton_menu {
    margin-top: -4px;
}

.navbar_tasks {
    display: none;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 30px 0 10px 0;
    margin-top: -10px;
    /* background-color: #737fc5; */
    z-index: 999;
    pointer-events: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    /* background-color: #efefef; */
    /* overflow-x: hidden; */
}

.mensaje_error_login,
.mensaje_error_register {
    color: #a82929;
    text-align: center;
}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
    opacity: 0.3;
}

.deshabilitado {
    pointer-events: none !important;
    background-color: #49576d !important;
    color: #9b9fa2 !important;
    cursor: default !important;
    opacity: 0.3;
}

.ocultar {
    display: none;
}

.centrado {
    text-align: center;
    align-items: center;
}

.izq {
    margin-left: 20px;
}

.justificado {
    text-align: justify;
}

.img_login {
    display: block;
    text-align: center;
    font-size: 50px;
}

.img_centrado {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
    font-size: 50px;
}

.img_right {
    width: 40px;
    float: right;
    text-align: right;
}

.divider {
    border-top: 1px solid #eee;
    margin: 4rem 0;
}

.divider_linea {
    border-top: 1px solid #eee;
    /* margin: 4rem 0; */
}

.negro {
    border-top: 1px solid #222;
}

.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    /* background-color: #333; */
    /* border-radius: 50px; */
}

input[type="date"] {
    border: 0 transparent;
    padding: 8px 10px;
    outline: none;
}

/* checkbox */
.label_class {
    display: contents;
}

.check {
    pointer-events: none;
}

input[type="checkbox"]:not(old) {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:not(old)+label::-moz-selection,
input[type="checkbox"]:not(old)+label::selection {
    color: inherit;
    background-color: transparent;
}

input[type="checkbox"]:not(old)+label {
    cursor: pointer;
}

input[type="checkbox"]:not(old)+label:before {
    content: attr(data-before);
    display: inline-block;
    width: 100%;
    height: 20px;
    background: #e42931;
    border-color: transparent !important;
    color: #fff !important;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 4px;
    transition: background 0.3s ease-out;
}

input[type="checkbox"]:not(old):checked+label:before {
    /* content: 'Day 1'; */
    background: #4cb10e;
    color: #fff !important;
}


th:first-child,
td:first-child {
    padding-left: 15px;
}


.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

.u-cf {
    content: "";
    display: table;
    clear: both;
}


/* Secciones */
.seccion {
    padding: 30px;
    /* overflow: hidden; */
}

.seccion_login {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/login.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 -30px;
    overflow-x: hidden;
}

#subsec_login,
#subsec_register {
    /* background-color: #fff; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 500px;
    /* margin-top: 600px; */
}

.login_correo,
.login_contrasena {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    max-width: 500px;
}

.seccion_splash {
    margin: 0;
}

#subsec_register {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0px;
    max-width: initial;
    display: none;
}

.row_register {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.label_text {
    /* text-align: right; */
    line-height: 2.5;
}

.seccion_semanas {
    /* background-color: #fff;
    color: #222; */
}

.seccion_home {
    /* background-color: #fff;
    color: #222; */
}

.seccion_tasks {
    padding-top: 100px;
    /* background-color: #fff;
    color: #222; */
}

.seccion_calendar {
    /* background-color: #fff;
    color: #222; */
}

.responsive_calendar {
    overflow-x: auto;
}

.seccion_tools {
    /* background-color: #fff;
    color: #222; */
}

.seccion_calendar_int {
    padding-top: 140px;
}

.seccion_tools_int {
    padding-top: 140px;
}

.login_person_icon {
    font-size: 150px;
}

#table_calendar {
    max-width: 700px;
    margin: 0 auto;
}

#table_calendar thead tr,
#table_calendar tbody tr:nth-child(2),
#table_calendar tbody tr:nth-child(4) {
    background-color: #EA3F33;
    color: #fff;
}

#table_calendar tbody tr:nth-child(1),
#table_calendar tbody tr:nth-child(3) {
    background-color: #efefef;
    color: #EA3F33;
}

#table_calendar thead tr th:first-child,
#table_calendar tbody tr th:first-child {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
}

#table_calendar thead tr th:last-child,
#table_calendar tbody tr td:last-child {
    padding-right: 15px;
}

#table_calendar thead tr th,
#table_calendar tbody tr td {
    text-align: center;
}

/* divs */

/* #buscadorIBP {
    text-align: center;
    margin: -25px -30px 25px -30px;
    padding: 10px 25px 0px 25px;
    background-color: #001489;
}

#elSelectPar {
    min-width: 50%;
    border: 1px solid #ff7f50b3;
    color: coral;
    font-weight: 500;
}

#buscadorClean {
    position: absolute;
    margin-left: -30px;
    margin-top: 8px;
    color: rgb(255, 193, 187);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#buscadorClean:hover {
    color: #fa7a50;
} */

#divSelectPar {
    display: none;
    position: absolute;
    /* width: 100%; */
    min-width: 50%;
    margin: 10px 0px 0px 45px;
    padding: 10px 25px 20px 25px;
    color: #fff;
}

#elSelectPar {
    min-width: 50%;
    width: 100%;
}

#elSelectPar select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#elSelectPar select:focus {
    outline: none;
}

#divTools {
    display: none;
    position: absolute;
    height: 80px;
    width: 100%;
    text-align: center;
    margin: 83px auto 0px auto;
    background-color: #fff;
    pointer-events: auto;
}

#botonTools,
#botonReporte,
#botonCalendario {
    /* text-align: center; */
    margin: 0 auto;
    min-width: fit-content;
    cursor: pointer;
}

#divReportes {
    text-align: center;
    margin: -25px -30px 20px -30px;
    padding: 15px 25px 20px 25px;
    background-color: #C5C8CD;
}

.boton_tools {
    max-height: 36px;
    display: flex;
    text-align: left;
    color: #fff;
    padding: 4px 10px;
    line-height: 2.3;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 8px;
}

.boton_tools span {
    color: #fff;
    margin-right: 10px;
    font-size: 30px;
}

#botonTools {
    background-color: #0A0FF5;
}

#botonReporte {
    background-color: #EB120E;
}

#botonCalendario {
    background-color: #A809D6;
}

#divSemanas {
    /* margin: 50px -30px 20px -30px;
    padding: 95px 50px 70px 50px;
    background-color: #B2C7E7;
    color: #222; */
    display: none;
}

#divSemanas h2 {
    /* color: #fff; */
}

#divDias {
    margin: -40px -30px 10px -30px;
    padding: 50px 25px 50px 25px;
    /* background-color: #fff; */
    display: none;
}

#divCategorias {
    margin: 130px -30px 20px -30px;
    padding: 0px 25px 50px 25px;
    /* background-color: #fff; */
    display: none;
}

#flechaAbajoSemanas {
    margin: -20px -30px 10px -30px;
    padding: 0px 0 10px 0px;
    /* background-color: #555555; */
}

#flechaAbajoDias {
    margin: 0px -30px 20px -30px;
    padding: 20px 0px 10px 0px;
    background-color: transparent;
}

.flecha_abajo {
    color: #999;
    font-size: 30px;
    margin-top: -10px;
}


/* slider */
.wrapper {
    /* width: 90%; */
    /* margin-left: 5%; */
    /* background-color: #C5C8CD; */
}

.carousel {
    /* max-width: 1200px; */
    margin: auto;
    padding: 0;
}

.carousel .card {
    text-align: center;
    /* margin: 0; */
    padding: 10px;
    /* width: 150px; */
    height: 140px;
    min-width: 100px;
}

.owl-nav {
    font-size: 60px;
    margin-top: -140px;
    margin-left: -8%;
    width: 120%;
    font-weight: 100;
    color: #8c8c8c;
    margin-bottom: 120px;
    font-weight: 400;
}

.carousel_semanas .owl-nav .owl-prev {
    left: -20px;
    top: -15px;
}

.carousel_semanas .owl-nav .owl-next {
    right: -20px;
    top: -15px;
}

.carousel_dias .owl-nav .owl-prev {
    left: -20px;
    top: 20px;
}

.carousel_dias .owl-nav .owl-next {
    right: -20px;
    top: 20px;
}

.owl-prev,
.owl-next {
    position: absolute;
}

.owl-prev {}

.owl-prev span {
    color: #001489;
}

.owl-next {
    margin-left: 110%;
}

.owl-next span {
    color: #001489;
}

.owl-dots {
    position: absolute;
    text-align: center;
    width: 100%;
}

.carousel_semanas .owl-dots {
    top: 75px;
}

.carousel_dias .owl-dots {
    top: 160px;
}

.owl-dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background: #bdc7c3 !important;
}

.owl-dots button.owl-dot.active {
    background-color: #869791 !important;
}



.card_semana {
    /* width: 110px; */
    border-left: 0.2px solid rgba(255, 255, 255, 0.4);
    border-right: 0.2px solid rgba(255, 255, 255, 0.4);
}

.card_dia {
    /* width: 110px; */
    border-left: 0.2px solid rgba(0, 0, 0, 0.2);
    border-right: 0.2px solid rgba(0, 0, 0, 0.2);
}

.card_dia i {
    font-size: 40px;
}

.card_dia p {
    line-height: 22px;
    font-size: 15px;

}

.card_dia span {

    font-size: 20px;
    font-weight: bold;
}

.card_dia img {
    display: inline-block;
    padding-top: 5px;
    width: 35px !important;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}

.boton_semana,
.boton_dia,
.boton_categoria,
.boton_tool {
    display: block;
    cursor: pointer;
    filter: brightness(100%);
    transition: 0.3s;
}

.boton_tool {
    max-width: 400px;
    /* text-align: center; */
    margin: 10px auto;
    padding: 0px 30px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #090FF5 !important;
}

.boton_tool p {
    margin-bottom: 5px;
    color: #fff;
}

.swal2-popup {
    max-width: 1000px !important;
}

.video {
    /* display: none; */
}

.boton_semana {
    /* background-color: #2d2d2d; */
}

.boton_dia {
    /* background: #e2e2e2; */
}

.boton_dia:hover {
    background-color: #eeeeee;
}

.boton_semana,
.boton_categoria,
.boton_categoria_back {
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 6px 30px;
    font-size: 20px;
    background-color: #001489 !important;
}

.boton_semana:hover,
.boton_categoria:hover,
.boton_tool:hover {
    filter: brightness(140%);
}

.boton_semana img,
.boton_categoria img {
    /* position: absolute; */
    width: 80px;
    float: right;
    margin: -77px 0 0 0;
    /* padding-bottom: 15px; */
}

.boton_semana p,
.boton_categoria p {
    margin-top: 20px;
    text-align: left;
    color: #fff;
}

.boton_completado {
    background-color: #399d00 !important;
}

/* #lasCategorias {
    display: none;
} */

.categoria_dia {
    font-size: 80px;
}

.titulo_categoria {
    padding: 10px 0;
    color: #fff;
}

.titulo_categoria_img {
    margin: 4px 10px 10px 0;
}

.titulo_categoria_txt {
    font-size: 26px;
}

.titulo_categoria_OnRoute {
    background-color: #A808D5;
}

.titulo_categoria_Classroom {
    background-color: #D56C17;
}

.titulo_categoria_Market {
    background-color: #EB120E;

}

.titulo_categoria_306090 {
    background-color: #3EA9F5;
}

.subnames {
    display: inline-block;
    padding-left: 30px;
    line-height: 0.7;
}

.titulo_subcategoria_txt,
.subname1_txt {
    font-size: 22px;
}

.subname2_txt {
    font-size: 16px;
}

.tabla_row {
    /* background-color: #2d2d2d; */
}

/* botones */
.button {
    background-color: #001489;
    /* border-color: #5e6b92 !important; */
    border-color: transparent !important;
    color: #FFF;
    line-height: 3.3;
    /* border-radius: 50px; */
}

.button:hover {
    background-color: #334ac9;
    color: #FFF;
}

.boton_register,
.boton_reporte {
    border-radius: 4px;
    background-color: #001489 !important;
    color: #fff !important;
}

.boton_register:hover,
.boton_reporte:hover {
    background-color: #334ac9 !important;
}

.boton_cancel_reg,
.boton_logout {
    border-radius: 50px;
    background-color: #f0887a !important;
    color: #fff !important;
    /* margin-right: 5%; */
}

.boton_cancel_reg:hover,
.boton_logout:hover {
    background-color: #e66452 !important;
}





.boton_edit,
.boton_cancel,
.boton_save {
    border: 1px solid transparent;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    line-height: 2.6;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}

.boton_edit:hover,
.boton_cancel:hover,
.boton_save:hover {
    border: 1px solid rgba(34, 34, 34, 0.2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;

}

.icon_edit {
    font-size: 20px;
    color: #808ac4;
}

.icon_cancel {
    font-size: 20px;
    font-weight: 600;
    color: #e66452;
}

.icon_save {
    font-size: 20px;
    font-weight: 600;
    color: #6cbb3f;
}




.boton_save_reg {
    border-radius: 50px;
    background-color: #85cc5c !important;
    color: #fff !important;
    /* margin-left: 5%; */
}

.boton_save_reg:hover {
    background-color: #6cbb3f !important;
}

.boton_register,
.boton_reporte,
.boton_logout {
    font-size: 10px;
    /* width: 70px; */
    height: 30px;
    padding: 0px 15px;
    line-height: 2.8;
}

.titulo_subname_txt {
    float: left;
    margin-left: 30px;
}

.boton_guardar {
    position: absolute;
    right: 30px;
    border-radius: 50px;
    background-color: #001489 !important;
}

.boton_guardar:hover {
    background-color: #334ac9 !important;
}


/* progress */
.progress {
    background: #dfdfdf;
    justify-content: flex-start;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    position: relative;
    /* padding: 0 5px; */
    display: flex;
    height: 14px;
    width: 50%;
    margin: 0 auto;
}

.progress_bar {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #f46a04;
    height: 30px;
    width: 0;
    font-size: 14px;
    padding-top: 7px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition: width 1s;
}


/* PC */
@media only screen and (max-width: 1200px) {
    .caja_input {
        width: 265px;
    }
}

/* Tableta */
@media only screen and (max-width: 992px) {}

/* Tableta Horizontal */
@media only screen and (max-width: 768px) {
    .caja_input {
        width: 265px !important;
    }
}

/* Celular */
@media only screen and (max-width: 480px) {}