/* Your custom styles */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.contenedor {
    margin-top: 50px;
    margin-bottom: 150px;
    height: 100%;

}

#contenidoMain {
    width: 94%;
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 55px;
}

#contenido {
    padding-bottom: 120px;
}

.waves-effect.waves-orange .waves-ripple {
    background: rgba(244, 96, 73, .4);
    background: -webkit-radial-gradient(rgba(244, 96, 73, .2) 0, rgba(244, 96, 73, .3) 40%, rgba(244, 96, 73, .4) 50%, rgba(244, 96, 73, .5) 60%, rgba(244, 96, 73, 0) 70%);
    background: -o-radial-gradient(rgba(244, 96, 73, .2) 0, rgba(244, 96, 73, .3) 40%, rgba(244, 96, 73, .4) 50%, rgba(244, 96, 73, .5) 60%, rgba(244, 96, 73, 0) 70%);
    background: radial-gradient(rgba(244, 96, 73, .2) 0, rgba(244, 96, 73, .3) 40%, rgba(244, 96, 73, .4) 50%, rgba(244, 96, 73, .5) 60%, rgba(244, 96, 73, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-orange .waves-ripple {
    background: rgba(244, 96, 73, .4)
}

.waves-notransition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}

.waves-button,
.waves-button-input,
.waves-button:hover,
.waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: transparent;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    -webkit-border-radius: .2em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    -webkit-border-radius: .2em;
    border-radius: .2em;
    display: inline-block
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.waves-float:active {
    -webkit-box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

a.waves-effect,
a.waves-light {
    display: inline-block
}

header {
    background-color: #EA212F;
}

.logo-wrapper {
    background-color: #616161;
    box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 20px;
}

.side-nav .logo-wrapper,
.side-nav .logo-wrapper a {
    height: 240px;
}

.side-nav {
    box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.9);
}

.double-nav {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar {

    background-color: #EA212F !important;
}

.navbar .nav-item .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;

}

.breadcrumb_logo {
    background: url(../img/logo.png) no-repeat;
    background-size: 40px;
    background-position: 20px 5px;
    height: 40px;
    width: 80px;
}


.navbar .breadcrumb {
    margin: 0;
    /* margin-left: -160px; */
    padding: 0 0 0 1rem;
    color: #FFFFFF;
    background-color: inherit;
    font-size: 15px;
    font-weight: 300;
}

/* .nav-link {} */

.white-skin .navbar .navbar-nav .nav-item a,
.white-skin .navbar.double-nav a,
.white-skin .side-nav .social a .fa {
    color: #fff;
}

.progreso_div {
    position: relative;
    bottom: -160px;
    height: 59px;
    background-color: #616161 !important;
}

.progreso_tot {
    width: 100%;
    height: 3px;
    margin-top: 20px;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
}

.progreso_act {
    width: 20px;
    height: 3px;
    margin-top: -3px;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.progreso_texto {
    position: relative;
    bottom: -5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
}

/* .breadcrumb-dn { */
/* margin-left: 20px; */
/* } */

.titulo_div {
    margin-top: -40px;
}

.titulo_texto {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.2;
}

.subtitulo_texto {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.titulo_temas {
    border-bottom: 1px solid rgba(153, 153, 153, .3);
    color: #424242 !important;
    margin-left: 20px;
    padding: 15px 0px 12px 0px;
    font-size: 12px;
}

.tema {
    width: 100%;
    height: 60px;
    /* margin-bottom: -7px; */
}

.tema:hover {
    background-color: rgb(233, 233, 233, 0.5);
}

.tema i {
    color: #424242;
}

.tema_texto {
    position: relative;
    top: -35px;
    left: 30px;
    width: 145px;
    height: 36px;
    color: #424242 !important;
    font-size: 14px;
    line-height: 1.3;
    /* font-weight: 500; */
}

.conector {
    margin-top: -92px;
    margin-left: 193px;
    width: 2px;
}

.conector_sup {
    height: 20px;
}

.conector_inf {
    margin-top: 16px;
    height: 20px;
}

.conector_no_visitado {
    background-color: rgba(244, 97, 73, 0.3);
}

.conector_visitado {
    background-color: rgba(244, 97, 73, 1);
}

.tema_punto {
    margin-top: -56px;
    padding-right: 15px;
    text-align: right;
    font-size: 22px;
    color: #EA212F;
}

.tema_senal {
    display: block;
    position: relative;
    width: 5px;
    height: 100%;
    top: -57px;
    left: -20px;
    background-color: #EA212F;
}

.tema_senal_no {
    display: none;
}

.tema_activo {
    cursor: pointer;
}

.tema_inactivo {
    pointer-events: none;
    cursor: default;
    background-color: rgba(233, 233, 233, 0.6);
}

.boton_inactivo {
    pointer-events: none;
    cursor: default;
    color: rgb(200, 200, 200, 0.6) !important;
}

/* scroll */

.scroll_pagina {
    position: absolute;
    height: 3px;
    width: 0%;
    background: rgba(244, 96, 73, 0.6);
    top: 51px;
}

/* scroll */

.white-skin .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 100px;
    padding-top: 15px;
    line-height: 1.2;
    background-color: rgb(238, 238, 238);
    color: #424242;
    box-shadow: inset inset 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
}

.footer_int1 {
    font-size: 13px;
    color: #EA212F;
    font-weight: 400;
}

.footer_int2 {
    font-size: 20px;
    color: #EA212F;
    font-weight: 900;
}

.boton_cerrar {
    padding: 2px 10px;
    color: #fff;
    font-size: 20px;
}

.boton_cerrarn_negro {
    padding: 2px 10px;
    /* color: #fff; */
    font-size: 20px;
}

/* modal */

.modal-orange .modal-header {
    background-color: #EA212F;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 0px;
}

.btn-orange {
    background-color: #EA212F !important;
    color: #fff;
}

.btn-orange-outline {
    border: 2px solid #EA212F;
    color: #EA212F !important;
}

.icono_ayuda {
    color: #EA212F;
    font-size: 50px;
}

.icono_salir {
    color: #EA212F;
    font-size: 70px;
}

.icono_paloma {
    color: #00c851;
    font-size: 50px;
}

.icono_tache {
    color: #ff3547;
    font-size: 50px;
}

/* modal */


/* evaluacion */

[type=radio]:checked+label:after {
    border-color: #EA212F;
    background-color: #EA212F;
}

/* #paloma-tache {
    padding: 5px;
    color: #2e7d32;
} */



@media screen and (max-width:992px) {

    .side-nav .logo-wrapper,
    .side-nav .logo-wrapper a {
        height: 240px;
    }

    #contenidoMain {
        width: 100%;
        padding-right: 30px;
    }

}

@media screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {

    #contenidoMain {
        width: 100%;
        padding-right: 5px;
    }

}
