* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ripple {
    width: 10px;
    height: 10px;
    background: transparent;
    position: fixed;
    border-radius: 50%;
    animation: effect 1s linear;
    border: 1px solid rgba(180, 83, 180, 0.5);
}

@keyframes effect {
    100% {
        transform: scale(18);
        opacity: 0.01;
    }
}